      /* Remove the navbar's default margin-bottom and rounded borders */

      .navbar {
        margin-bottom: 0;
        border-radius: 0;
    }
    /* Add a gray background color and some padding to the footer */

    footer {
        background-color: rgb(29, 29, 29);
        padding: 25px;
    }

    .pannable-image {
        width: 100%;
    }

    .card {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .card {
        /* margin-top: 10px; */
        box-sizing: border-box;
        border-radius: 2px;
        background-clip: padding-box;
    }

    .card span.card-title {
        color: #fff;
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
    }

    .card .card-image {
        position: relative;
        overflow: hidden;
    }

    .card .card-image img {
        border-radius: 2px 2px 0 0;
        background-clip: padding-box;
        position: relative;
        z-index: -1;
    }

    .card .card-image span.card-title {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 16px;
    }

    .card .card-content {
        padding: 16px;
        border-radius: 0 0 2px 2px;
        background-clip: padding-box;
        box-sizing: border-box;
    }

    .card .card-content p {
        margin: 0;
        color: inherit;
    }

    .card .card-content span.card-title {
        line-height: 48px;
    }

    .card .card-action {
        border-top: 1px solid rgba(160, 160, 160, 0.2);
        padding: 16px;
    }

    .card .card-action a {
        color: #ffab40;
        margin-right: 16px;
        transition: color 0.3s ease;
        text-transform: uppercase;
    }

    .card .card-action a:hover {
        color: #ffd8a6;
        text-decoration: none;
    }

    .iv-large-image{
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* display: block; */
    /* margin: 0 auto; */
    /* margin-top: 10px; */
    /* width: 700px; */
    -webkit-filter: contrast({{contrast}}%) brightness({{brightness}}%) hue-rotate({{hueRotate}}deg);
    filter: brightness({{brightness}}%) contrast({{contrast}}%) hue-rotate({{hueRotate}}deg);
    }



    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }

    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
    }

    .checkbox {
padding-left: 20px; }
.checkbox label {
display: inline-block;
position: relative;
padding-left: 5px; }
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555; }
.checkbox input[type="checkbox"] {
opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65; }
  .checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
border-radius: 50%; }
.checkbox.checkbox-inline {
margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
background-color: #428bca;
border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
background-color: #d9534f;
border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
background-color: #5bc0de;
border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
background-color: #f0ad4e;
border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
background-color: #5cb85c;
border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
color: #fff; }

.radio {
padding-left: 20px; }
.radio label {
display: inline-block;
position: relative;
padding-left: 5px; }
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out; }
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
opacity: 0; }
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
  opacity: 0.65; }
  .radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
background-color: #5cb85c; }

.iv-large-image{
    display: block;
    margin: 0 auto;
    /* margin-top: 10px;
    width: 700px; */
}

    #image-gallery {
        width: 100%;
        position: relative;
        height: 480px;
        background: #000;
    }

    #image-gallery .image-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 50px;
    }

    button:active {
        transform: scale(.9);
    }

    #fullwidth {
        white-space: normal;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        display: block;
        text-align: center;
        /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
    }

    #brightness {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
    }

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @-webkit-keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }
        to {
            bottom: 0;
            opacity: 0;
        }
    }

    @keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }
        to {
            bottom: 0;
            opacity: 0;
        }
    }

    input[type="range"] {
        position: absolute;
        top: 40%;
        transform: rotate(270deg);
    }

    *,
    *:after,
    *:before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .map-icon {
        width: 52px;
        height: 52px;
        background: #f7f7f7;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
        margin-bottom: 15px;
        text-align: center;
        color: #adccce;
        padding: 14px 0;
    }

    .map-icon span {
        font-size: 1.3em;
    }

    .map-slider {
        width: 40px;
        height: 330px;
        background: #f7f7f7;
        border-radius: 3px;
        text-align: center;
        -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
        position: relative;
        color: #866a62;
        z-index: 1000;
    }

    .map-slider::before {
        content: "";
        width: 100%;
        height: 1px;
        background: #dedede;
        position: absolute;
        left: 0;
        margin-top: 50px;
        -webkit-box-shadow: 0 1px 0 0 white, 0 230px 0 0 #dedede, 0 229px 0 0 white;
        box-shadow: 0 1px 0 0 white, 0 230px 0 0 #dedede, 0 229px 0 0 white;
    }

    .map-slider .fa-plus {
        display: block;
        padding-top: 16px;
        height: 50px;
        cursor: pointer;
    }

    .map-slider .fa-minus {
        display: block;
        height: 50px;
        padding-top: 12px;
        cursor: pointer;
    }

    .map-slider .drag-line {
        width: 8px;
        height: 182px;
        background: #ff9770;
        border-radius: 8px;
        margin: 25px auto;
        position: relative;
    }

    .map-slider .line {
        width: 8px;
        height: 182px;
        background: #adccce;
        border-radius: 8px;
        margin: 25px auto;
        position: absolute;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 10px;
        clip: rect(0px, 8px, 183px, 0px);
    }

    .map-slider .draggable-button {
        width: 29px;
        height: 29px;
        background: #f7f7f7;
        border-radius: 50%;
        position: absolute;
        -webkit-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
        margin-left: -9px;
        cursor: pointer;
    }

    #myInput {
        width: 75%;
        font-size: 16px;
        background-image: url('/assets/img/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px;
        /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 5px;
        text-decoration: none;
        font-size: 16px;
        color: black;
        display: block
    }

    #myUL li a:hover:not(.header) {
        background-color: #eee;
    }

    /* Remove margins and padding from the list */

    #myUL1 {
        margin: 0;
        padding: 0;
    }

    /* Style the list items */

    #myUL1 li {
        cursor: pointer;
        position: relative;
        /* padding: 12px 8px 12px 40px; */
        list-style-type: none;
        background: #eee;
        /* font-size: 18px; */
        transition: 0.2s;

        /* make the list items unselectable */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid #ddd;
        margin-top: -1px;
        /* Prevent double borders */
        background-color: #dff0d8;
        padding: 5px;
        text-decoration: none;
        font-size: 16px;
        color: black;
        display: block
    }

    /* Set all odd list items to a different color (zebra-stripes) */

    #myUL1 li:nth-child(odd) {
        background: #dff0d8;
    }

    /* Darker background-color on hover */

    /* #myUL1 li:hover {
        background: #ddd;
    } */

    /* When clicked on, add a background color and strike out text */

    /* #myUL1 li.checked {
        background: #888;
        color: #fff;
        text-decoration: line-through;
    } */

    /* Add a "checked" mark when clicked on */

    /* #myUL1 li.checked::before {
        content: '';
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 10px;
        left: 16px;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
    } */

    /* Style the close button */

    .closeli {
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px 16px 12px 16px;
    }

    .closeli:hover {
        background-color: #f44336;
        color: white;
    }


    /* Style the "Add" button */

    #addBtn {
        padding: 10px;
        width: 25%;
        background: #d9d9d9;
        color: #555;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
    }

    #addBtn:hover {
        background-color: #bbb;
    }
