<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="./assets/js/angular-growl.min.js"></script>

  <link rel="stylesheet" href="./assets/css/angular-growl.min.css">
    <script>
        var app = angular.module('myApp', ['angular-growl']);
        app.controller('tea', function($scope, $http,growl,$window) {
            console.log("controllerTeacher");
            $scope.teacherRegisterData ={};

                $scope.teacherRegister = function() {
                    console.log($scope.teacherRegisterData);
    $http.post('http://13.232.160.185:8080/app/teacherRegister', $scope.teacherRegisterData).success(function(res){
    // $http.post('http://127.0.0.1:8080/app/teacherRegister', $scope.teacherRegisterData).success(function(res){
        console.log(res);

        if(res.message === "you are registered successfully")
        {
            growl.success("Please login to Continue..." , { title: 'Registration Successful' });
        }
        else
        {
            growl.error(res.message, { title: 'Failure' });
        }

    })
    }

        });
    </script>

    <!-- Bootstrap core CSS     -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="./assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="./assets/css/paper-dashboard.css" rel="stylesheet"/>
</head>
<body ng-app="myApp" ng-controller="tea">
    <div growl></div>

    <div class="container" style ="margin-top: 0.1cm;">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h3> Teacher Register Here</h3></div>

                <div class="panel-body">
                	
                    <form ng-submit="teacherRegister()">
                       <div class="row">

                        <div class="form-group">
                            <label for="username" class="col-md-4 control-label">Username</label>

                            <div class="col-md-6">
                                <input type="text" class="form-control border-input" ng-model="teacherRegisterData.username" required="" autofocus>
                            </div>
                        </div>
                    </div>
                </br>
                <div class="row">

                    <div class="form-group">
                        <label for="password" class="col-md-4 control-label">Password</label>

                        <div class="col-md-6">
                            <input type="password" class="form-control border-input" ng-model="teacherRegisterData.password" required="">
                        </div>
                    </div>
                </div>
                
            </br>

            <div class="row">

                <div class="form-group">
                    <label for="grade" class="col-md-4 control-label">Email ID</label>

                    <div class="col-md-6">
                        <input type="email" class="form-control border-input" ng-model="teacherRegisterData.email_id" required="" autofocus>
                    </div>
                </div>
            </div>
        </br>


        <div class="row">

            <div class="form-group">
                <label for="subject" class="col-md-4 control-label">Address</label>

                <div class="col-md-6">
                    <input type="text" class="form-control border-input" ng-model="teacherRegisterData.address" required="" autofocus>
                </div>
            </div>
        </div>
    </br>


    <div class="row">

        <div class="form-group">
            <label for="subject" class="col-md-4 control-label">Contact Number</label>

            <div class="col-md-6">
                <input type="number" class="form-control border-input" ng-model="teacherRegisterData.contact_number" required="" autofocus>
            </div>
        </div>
    </div> </br>


    <div class="row">

        <div class="form-group">
            <label for="subject" class="col-md-4 control-label">Aadhar Number</label>

            <div class="col-md-6">
                <input type="text" class="form-control border-input" ng-model="teacherRegisterData.aadhar_no" required="" autofocus>
            </div>
        </div>
    </div>
</br>

<div class="row">

    <div class="form-group">
        <label for="qualification" class="col-md-4 control-label">Qualification</label>

        <div class="col-md-6">
            <input type="text" class="form-control border-input" ng-model="teacherRegisterData.qualification" required="" autofocus>
        </div>
    </div>
</div>
</br>

<div class="row">

    <div class="form-group">
        <label for="job_description" class="col-md-4 control-label">Job Description</label>

        <div class="col-md-6">
            <input type="text" class="form-control border-input" ng-model="teacherRegisterData.job_description" required="" autofocus>
        </div>
    </div>
</div>
</br>
<div class="row">

    <div class="form-group">
        <label for="experience" class="col-md-4 control-label">Teaching Experience(yrs)</label>

        <div class="col-md-6">
            <input type="number" class="form-control border-input" ng-model="teacherRegisterData.teaching_experience" required="" autofocus>
        </div>
    </div>
</div>
</br>

<div class="row">
 
    <div class="form-group">
        <div class="text-center">
            <button type="submit" class="btn btn-wd btn-fill btn-success">
                Register
            </button>

            <a class="btn btn-wd btn-fill btn-info" href="login.html">
                Already registered?
            </a>
            

        </div>
    </div>
</div>

</form>
</div>
</div>
</div>
</div>


</body>
</html>
